body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #073b4c;
    color: #fff;
}


header {
    background-color: #073b4c;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #207561;
}


.main-content {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

article {
    margin-bottom: 30px;
}

article h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.post-meta {
    color: #ccc;
    font-size: 0.9em;
    margin-bottom: 15px;
}


.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.image-gallery img {
    width: 90%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.image-gallery img:hover {
    transform: scale(1.05);
}


footer {
    background-color: #073b4c;
    color: white;
    text-align: center;
    padding: 20px;
}


.block-newsletter-label {
    color: white;
    margin-bottom: 10px;
}

table {
    border: 1px solid black;
}